# ANOVA: Análisis de varianza.

El análisis de varianza o ANOVA es un método estadístico utilizado para probar si es que existen diferencias significativas entre las medias de dos o más grupos. ANOVA deuvelve dos parámetros:

**F-test score:** ANOVA asume que las medias de todos los grupos son iguales, calcula cuanto las medias se desvían de este hipótesis y reportan el resultado con un F-test score. Un valor alto significa que existe una diferencia significativa entre las medias.

**P-value:** Indica cuan estadísticamente significativo es el f-test score calculado.

Sigamos con el ejemplo de los vehículos. Si recordamos el problma anterior, solo nos falta revisar como se comporan las variables categóricas para definir que variables son importantes a la hora de determinar el precio de un auto.

Si entonces, el precio está fuertemente correlacionado con las variables que estamos analizando, el ANOVA debe devolver un F-test grande y un p-value pequeño.

## Drive Wheels

COmo ANOVA analiza la diferencia entre diferentes grupos de la misma variable, la función group by nos va a resultar muy útil. Como ANOVA calcula los promedios e indicadores por nosotros. veremos una forma resumida de calcularlo utilizando la biblioteca scipy.

Para partir agruparemos los datos.

In [1]:
# solo ejecuta este bloque. Es solo para quedar donde lo dejamos en el archivo anterior.
import pandas as pd
import numpy as np
from scipy import stats
path='https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/automobileEDA.csv'
df = pd.read_csv(path)
df_gptest = df[['drive-wheels','body-style','price']]
grouped_test1 = df_gptest.groupby(['drive-wheels','body-style'],as_index=False).mean()
grouped_test2=df_gptest[['drive-wheels', 'price']].groupby('drive-wheels')
grouped_test3=df_gptest.groupby(['drive-wheels',"body-style"])
grouped_test2.head()

    drive-wheels    price
0            rwd  13495.0
1            rwd  16500.0
2            rwd  16500.0
3            fwd  13950.0
4            4wd  17450.0
5            fwd  15250.0
6            fwd  17710.0
7            fwd  18920.0
8            fwd  23875.0
9            rwd  16430.0
10           rwd  16925.0
136          4wd   7603.0
140          4wd   9233.0
141          4wd  11259.0
144          4wd   8013.0

In [2]:
grouped_test3.pad()

    drive-wheels   body-style    price
0            rwd  convertible  13495.0
1            rwd  convertible  16500.0
2            rwd    hatchback  16500.0
3            fwd        sedan  13950.0
4            4wd        sedan  17450.0
5            fwd        sedan  15250.0
6            fwd        sedan  17710.0
7            fwd        wagon  18920.0
8            fwd        sedan  23875.0
9            rwd        sedan  16430.0
10           rwd        sedan  16925.0
11           rwd        sedan  20970.0
12           rwd        sedan  21105.0
13           rwd        sedan  24565.0
14           rwd        sedan  30760.0
15           rwd        sedan  41315.0
16           rwd        sedan  36880.0
17           fwd    hatchback   5151.0
18           fwd    hatchback   6295.0
19           fwd        sedan   6575.0
20           fwd    hatchback   5572.0
21           fwd    hatchback   6377.0
22           fwd    hatchback   7957.0
23           fwd    hatchback   6229.0
24           fwd        sedan   6692.0
25           fwd        sedan   7609.0
26           fwd        sedan   8558.0
27           fwd        wagon   8921.0
28           fwd    hatchback  12964.0
29           fwd    hatchback   6479.0
..           ...          ...      ...
171          fwd    hatchback   9988.0
172          fwd        sedan  10898.0
173          fwd    hatchback  11248.0
174          rwd    hatchback  16558.0
175          rwd    hatchback  15998.0
176          rwd        sedan  15690.0
177          rwd        wagon  15750.0
178          fwd        sedan   7775.0
179          fwd        sedan   7975.0
180          fwd        sedan   7995.0
181          fwd        sedan   8195.0
182          fwd        sedan   8495.0
183          fwd        sedan   9495.0
184          fwd        sedan   9995.0
185          fwd  convertible  11595.0
186          fwd    hatchback   9980.0
187          fwd        sedan  13295.0
188          fwd        sedan  13845.0
189          fwd        wagon  12290.0
190          rwd        sedan  12940.0
191          rwd        wagon  13415.0
192          rwd        sedan  15985.0
193          rwd        wagon  16515.0
194          rwd        sedan  18420.0
195          rwd        wagon  18950.0
196          rwd        sedan  16845.0
197          rwd        sedan  19045.0
198          rwd        sedan  21485.0
199          rwd        sedan  22470.0
200          rwd        sedan  22625.0

[201 rows x 3 columns]

In [3]:
grouped_test1

   drive-wheels   body-style         price
0           4wd    hatchback   7603.000000
1           4wd        sedan  12647.333333
2           4wd        wagon   9095.750000
3           fwd  convertible  11595.000000
4           fwd      hardtop   8249.000000
5           fwd    hatchback   8396.387755
6           fwd        sedan   9811.800000
7           fwd        wagon   9997.333333
8           rwd  convertible  23949.600000
9           rwd      hardtop  24202.714286
10          rwd    hatchback  14337.777778
11          rwd        sedan  21711.833333
12          rwd        wagon  16994.222222

In [4]:
df_gptest

    drive-wheels   body-style    price
0            rwd  convertible  13495.0
1            rwd  convertible  16500.0
2            rwd    hatchback  16500.0
3            fwd        sedan  13950.0
4            4wd        sedan  17450.0
5            fwd        sedan  15250.0
6            fwd        sedan  17710.0
7            fwd        wagon  18920.0
8            fwd        sedan  23875.0
9            rwd        sedan  16430.0
10           rwd        sedan  16925.0
11           rwd        sedan  20970.0
12           rwd        sedan  21105.0
13           rwd        sedan  24565.0
14           rwd        sedan  30760.0
15           rwd        sedan  41315.0
16           rwd        sedan  36880.0
17           fwd    hatchback   5151.0
18           fwd    hatchback   6295.0
19           fwd        sedan   6575.0
20           fwd    hatchback   5572.0
21           fwd    hatchback   6377.0
22           fwd    hatchback   7957.0
23           fwd    hatchback   6229.0
24           fwd        sedan   6692.0
25           fwd        sedan   7609.0
26           fwd        sedan   8558.0
27           fwd        wagon   8921.0
28           fwd    hatchback  12964.0
29           fwd    hatchback   6479.0
..           ...          ...      ...
171          fwd    hatchback   9988.0
172          fwd        sedan  10898.0
173          fwd    hatchback  11248.0
174          rwd    hatchback  16558.0
175          rwd    hatchback  15998.0
176          rwd        sedan  15690.0
177          rwd        wagon  15750.0
178          fwd        sedan   7775.0
179          fwd        sedan   7975.0
180          fwd        sedan   7995.0
181          fwd        sedan   8195.0
182          fwd        sedan   8495.0
183          fwd        sedan   9495.0
184          fwd        sedan   9995.0
185          fwd  convertible  11595.0
186          fwd    hatchback   9980.0
187          fwd        sedan  13295.0
188          fwd        sedan  13845.0
189          fwd        wagon  12290.0
190          rwd        sedan  12940.0
191          rwd        wagon  13415.0
192          rwd        sedan  15985.0
193          rwd        wagon  16515.0
194          rwd        sedan  18420.0
195          rwd        wagon  18950.0
196          rwd        sedan  16845.0
197          rwd        sedan  19045.0
198          rwd        sedan  21485.0
199          rwd        sedan  22470.0
200          rwd        sedan  22625.0

[201 rows x 3 columns]

In [5]:
grouped_test2.pad()

    drive-wheels    price
0            rwd  13495.0
1            rwd  16500.0
2            rwd  16500.0
3            fwd  13950.0
4            4wd  17450.0
5            fwd  15250.0
6            fwd  17710.0
7            fwd  18920.0
8            fwd  23875.0
9            rwd  16430.0
10           rwd  16925.0
11           rwd  20970.0
12           rwd  21105.0
13           rwd  24565.0
14           rwd  30760.0
15           rwd  41315.0
16           rwd  36880.0
17           fwd   5151.0
18           fwd   6295.0
19           fwd   6575.0
20           fwd   5572.0
21           fwd   6377.0
22           fwd   7957.0
23           fwd   6229.0
24           fwd   6692.0
25           fwd   7609.0
26           fwd   8558.0
27           fwd   8921.0
28           fwd  12964.0
29           fwd   6479.0
..           ...      ...
171          fwd   9988.0
172          fwd  10898.0
173          fwd  11248.0
174          rwd  16558.0
175          rwd  15998.0
176          rwd  15690.0
177          rwd  15750.0
178          fwd   7775.0
179          fwd   7975.0
180          fwd   7995.0
181          fwd   8195.0
182          fwd   8495.0
183          fwd   9495.0
184          fwd   9995.0
185          fwd  11595.0
186          fwd   9980.0
187          fwd  13295.0
188          fwd  13845.0
189          fwd  12290.0
190          rwd  12940.0
191          rwd  13415.0
192          rwd  15985.0
193          rwd  16515.0
194          rwd  18420.0
195          rwd  18950.0
196          rwd  16845.0
197          rwd  19045.0
198          rwd  21485.0
199          rwd  22470.0
200          rwd  22625.0

[201 rows x 2 columns]

Podemos obtener los valores de cada grupo utilizando el método get_group

In [6]:
grouped_test2.get_group('4wd')['price']

4      17450.0
136     7603.0
140     9233.0
141    11259.0
144     8013.0
145    11694.0
150     7898.0
151     8778.0
Name: price, dtype: float64

In [7]:
grouped_test3.get_group(("rwd","sedan"))

    drive-wheels body-style    price
9            rwd      sedan  16430.0
10           rwd      sedan  16925.0
11           rwd      sedan  20970.0
12           rwd      sedan  21105.0
13           rwd      sedan  24565.0
14           rwd      sedan  30760.0
15           rwd      sedan  41315.0
16           rwd      sedan  36880.0
42           rwd      sedan   6785.0
44           rwd      sedan  32250.0
45           rwd      sedan  35550.0
46           rwd      sedan  36000.0
62           rwd      sedan  18280.0
63           rwd      sedan  18344.0
64           rwd      sedan  25552.0
67           rwd      sedan  31600.0
68           rwd      sedan  34184.0
70           rwd      sedan  40960.0
104          rwd      sedan  11900.0
105          rwd      sedan  13200.0
108          rwd      sedan  15580.0
109          rwd      sedan  16900.0
112          rwd      sedan  16630.0
113          rwd      sedan  17950.0
114          rwd      sedan  18150.0
159          rwd      sedan   8058.0
161          rwd      sedan   9298.0
176          rwd      sedan  15690.0
190          rwd      sedan  12940.0
192          rwd      sedan  15985.0
194          rwd      sedan  18420.0
196          rwd      sedan  16845.0
197          rwd      sedan  19045.0
198          rwd      sedan  21485.0
199          rwd      sedan  22470.0
200          rwd      sedan  22625.0

In [8]:
grouped_test3.get_group(("rwd","sedan"))["price"]

9      16430.0
10     16925.0
11     20970.0
12     21105.0
13     24565.0
14     30760.0
15     41315.0
16     36880.0
42      6785.0
44     32250.0
45     35550.0
46     36000.0
62     18280.0
63     18344.0
64     25552.0
67     31600.0
68     34184.0
70     40960.0
104    11900.0
105    13200.0
108    15580.0
109    16900.0
112    16630.0
113    17950.0
114    18150.0
159     8058.0
161     9298.0
176    15690.0
190    12940.0
192    15985.0
194    18420.0
196    16845.0
197    19045.0
198    21485.0
199    22470.0
200    22625.0
Name: price, dtype: float64

Ahora para finalmente calcular ANOVA utilizaremos la función "f_oneway" del móodulo 'stats' de scipy para obtener el F-test y el P-value

In [9]:
f_val, p_val = stats.f_oneway(grouped_test2.get_group('fwd')['price'], grouped_test2.get_group('rwd')['price'], grouped_test2.get_group('4wd')['price'])  
print( "ANOVA: F=", f_val, ", P =", p_val)

ANOVA: F= 67.95406500780399 , P = 3.3945443577151245e-23

In [14]:
print(len(grouped_test2.get_group("fwd")["price"]))
print(len(grouped_test2.get_group("rwd")["price"]))
print(len(grouped_test2.get_group("4wd")["price"]))

118
75
8

Este es un buen resultado. Hay un valor considerable de F y el P-value es casi cero (note e-23) implicando casi segura significancia estadística. ¿Pero significará que los demás grupos están altamente correlacionados también \?

### Calcula el ANOVA para fwd y rwd solamente utilizando la fórmula anterior.

In [15]:
f_val, p_val = stats.f_oneway(grouped_test2.get_group('fwd')['price'], grouped_test2.get_group('rwd')['price'])  
print( "ANOVA: F=", f_val, ", P =", p_val)

ANOVA: F= 130.5533160959111 , P = 2.2355306355677845e-23

### Calcula ahora 4wd y rwd

In [12]:
f_val, p_val = stats.f_oneway(grouped_test2.get_group('4wd')['price'], grouped_test2.get_group('rwd')['price'])  
print( "ANOVA: F=", f_val, ", P =", p_val)

ANOVA: F= 8.580681368924756 , P = 0.004411492211225333

### Calcula 4wd y fwd

In [13]:
f_val, p_val = stats.f_oneway(grouped_test2.get_group('fwd')['price'], grouped_test2.get_group('4wd')['price'])  
print( "ANOVA: F=", f_val, ", P =", p_val)

ANOVA: F= 0.6654657502523033 , P = 0.41620116697845666

# Conclusión
Ahora tenemos una mejor comprensión del dataset de autos y podemos diferencias las variables que podríamos tener en cuenta para hacer un modelo predictivo del precio de un auto. Consideramos entonces las siguientes variables:

Variables numéricas
<ul>
    <li>Length</li>
    <li>Width</li>
    <li>Curb-weight</li>
    <li>Engine-size</li>
    <li>Horsepower</li>
    <li>City-mpg</li>
    <li>Highway-mpg</li>
    <li>Wheel-base</li>
    <li>Bore</li>
</ul>
    

Variables Categóricas
<ul>
    <li>Drive-wheels</li>
</ul>

Más adelante cuando comencemos con machine learning comprenderemos el valor del trabajo que acabamos de realizar.

Adaptado y traducido de 2018 IBM Developer Skills Network.